# .gitignore
*.local
*.cache
LADS/AAAComms/
LADS/AddSpecimens/
LADS/AliquotStorage/
LADS/AllProjects.bpg
LADS/BarCodes/
LADS/BeckmanComms/
#LADS/BoxBridge/
LADS/BoxCreation/
LADS/BoxReception/
LADS/CoulterComms/
#LADS/GenericComms/
#LADS/HPLCComms/
#LADS/IDS-iSYS/
LADS/LUA/lua-5.2.2
#LADS/LabsDAO/test.cpp
LADS/MenariniComms/
LADS/Nephelometer/
LADS/NightShift/
LADS/OlympusComms/
LADS/PlotQC/
LADS/ProfileMapTest/
LADS/QCSetup/
LADS/RackCheck/
LADS/RegisterSetup/
LADS/SampleReception/
LADS/SampleStatus/
LADS/SerialTest/
LADS/SpecimenWipeout/
LADS/StoreMan/ModelSupport_Storeman/
#LADS/StoreMan/Storeman.cache
#LADS/StoreMan/Storeman_project.tvsconfig
#LADS/StringGrid/
#LADS/TUT/
#LADS/TestComms/
#LADS/ValC/
LADS/Validation/
#LADS/Wizard/
#LADS/XSLT/
LADS/paulst/Win32/
LADS/paulst/paulst.cbproj.local
LADS/Storeman/RetrievalManager.cpp
LADS/Storeman/RetrievalManager.dfm
LADS/Storeman/RetrievalManager.h

